{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "PawnShop",
  "name": "福生當舖",
  "url": "https://fusheng-pawnshop.com",
  "image": "https://fusheng-pawnshop.com/assets/images/storefront.jpg",
  "telephone": "+886-5-533-9997",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "大學路一段527號",
    "addressLocality": "斗六市",
    "addressRegion": "雲林縣",
    "postalCode": "640",
    "addressCountry": "TW"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 23.705848,
    "longitude": 120.555505
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/%E7%A6%8F%E7%94%9F%E7%95%B6%E8%88%96-235089770372501"
  ]
}
</script>
