<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
<!--         <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p> -->
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {% endif -%}
          {% if site.author.phone -%}
            <li><strong>電話: </strong><a class="u-phone" href="mailto:{{ site.author.phone }}">{{ site.author.phone }}</a></li>
          {% endif -%}
        </ul>
      {%- endif %}
      {%- if site.businese_hours %}
        <p>營業時間:</p>
        <ul class="contact-list">
          <li>禮拜一 早上 9:00 – 晚上 6:00</li>
          <li>禮拜二 早上 9:00 – 晚上 6:00</li>
          <li>禮拜三 早上 9:00 – 晚上 6:00</li>
          <li>禮拜四 早上 9:00 – 晚上 6:00</li>
          <li>禮拜五 早上 9:00 – 晚上 6:00</li>
          <li>禮拜六 休息</li>
          <li>禮拜日 休息</li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
